		<div class="group flex">
			<ul class="list flex">
				<li class="item">Настройки</li>
				<li class="item">Хуйня</li>
				<li class="item">Муйня</li>
				<li class="item">ТО</li>
				<li class="item">СЁ</li>
				<li class="item">Пятое</li>
				<li class="item">Десятое</li>
			</ul>
			<form class="table flex">
			</form>
		</div>