<!doctype html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Table Editor</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" >
</head>
<body>
	 {{{body}}} 
</body>
</html>


