<div class="flex parent"> 
	<div class = "child">
		<form class="form flex" action="/logon-process" method="POST">
			<span class="title"> Вход </span>
			<span class="name"> Имя пользователя </span>
			<input class="input" type="text" name="username" required="required">
			<span class="name"> Пароль </span>
			<input class="input" type="password" name="password" required="required">
			<button class="button"> Начать сеанс  </button>
        </form>
	</div>
</div> 



